*, :after, :before {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  background-color: #f7f7f8;
}

.header-buttons {
  display: flex;
  align-items: baseline;
}

button {
  border-radius: 5px;
  border: 2px solid #575195;
  font-size: .75rem;
  font-weight: 700;
  height: 3.33333em;
  padding: 0 1.33333em;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  box-shadow: 0 2px 2px 0 rgb(87 81 149 / 12%), 0 2px 2px 0 rgb(0 0 0 / 20%);
  background: #575195;
  color: #fff;
}

.clear-button {
  margin-left: 20px;
}

.left-panel {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex: 3 1;
  flex-flow: column;
  overflow: auto;
  background-color: #f7f7f8;
}

.right-panel {
  overflow: auto;
  text-align: left;
  flex: 1 1;
  border-left: 1px solid #d9d9e3;
  font-size: 12px;
  line-height: 18px;
  padding: 32px 32px;
  flex-flow: column;
}

.modify-container {
  transition: opacity .3s;
  display: inline-block;
  padding: 10px 14px;
  position: absolute;
  right: 8px;
  top: 20px;
  opacity: 0;
  background-color: #575195;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  border-radius: 3px;
  top: -13px;
}

.code-block {
  position: relative;
  margin-top: 20px;
}

.code-block:hover .modify-container {
  opacity: 1;
}

.modify-container div {
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}

.modify-container div:first-of-type {
  display: inline-block;
  margin-right: 18px;
}

.editable-code {
  white-space: pre-wrap;
  font-family: 'Input Mono', monospace;
  line-height: 20px;
}

.editable-code div[contenteditable=true] {
  outline: 1px solid #575195;
}

.jsfiddle-form {
  display: inline-block;
}

.jsfiddle-form textarea {
  display: none;
}

.export {
  margin-left: 12px;
}

.iframe-container {
  flex: 1 1;
  height: 100%;
  position: relative;
  margin: 32px 32px 20px;
  background-color: #fff;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  border-radius: 6px;
}

.query-container {
  position: relative;
  height: 88px;
  min-height: 88px;
  margin: 0 32px 32px;
}

.query-box {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  padding: 16px 92px 16px 20px;
  font-size: 18px;
  line-height: 28px;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  border-radius: 6px;
  outline: none;
}

.submit-button {
  background-color: #575195;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  line-height: 18px;
  border-radius: 40px;
  position: absolute;
  right: 20px;
  bottom: 19px;
  font-size: 20px;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.microphone-wrapper {
  position: absolute;
  cursor: pointer;
  right: 80px;
  bottom: 19px;
}
